MYSQL_DB_NAME=election_data_inspector
MYSQL_HOST=localhost
MYSQL_PASSWORD='123123'
MYSQL_PORT=3306
MYSQL_TEST_DB_NAME=election_data_inspector
MYSQL_USERNAME=root

REDIS_HOST=localhost
REDIS_PORT=6379

CRON_GENERATE_HITUNG_SUARA_KPU_PRESIDENT_JOB='0 0 * * *'
ENABLE_GENERATE_HITUNG_SUARA_KPU_PRESIDENT_JOB=false
RAILS_LOG_TO_STDOUT=true
SECRET_KEY_BASE='89df395eea16177861256344f97a0df7adbbb7ee2d93b7ef99d7a84a447c008bf6db345a8126a9788a78f17af44920dc8d2660d940a4fcc412261bfc6a7dfe4f'
RAILS_SERVE_STATIC_FILES=true